@import url('https://fonts.cdnfonts.com/css/google-sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product Sans', sans-serif;
}

body, html {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #2E4053, #4567B7, #2E4053);
}

body {
  color: #fff;
  animation: cubeRotate 10s linear infinite;
}

@keyframes cubeRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  border: solid 1px #4567B7;
  box-shadow: 0 0 10px #4567B7;
  padding: 10px;
  margin-top: 10px;
  margin: 10px auto;
  animation: cubeSlide 2s ease;
}

@keyframes cubeSlide {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.button1 {
  width: auto;
  height: auto;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: none;
  color: #fff;
  font-size: 13px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  outline-width: 5px;
  transition: letter-spacing 500ms ease, text-shadow 300ms ease, color 300ms ease, font-weight 300ms ease, outline-offset 300ms ease-in-out, outline-width 300ms ease-in-out;
  animation: cubePulse 1.5s ease;
}

.button1:hover, .button1:focus {
  color: #fff;
  text-shadow: 0px 0.9px 5px #4567B7;
  font-weight: 800;
  outline: 2px solid #4567B7;
  outline-offset: -5px;
  outline-width: 5px;
  letter-spacing: 3px;
}

@keyframes cubePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.10);
    color: #4567B7;
  }
  100% {
    transform: scale(1);
  }
}

.pogz {
  transition: margin-top 1.5s ease;
  animation: cubeFloat 2.5s ease-in-out infinite;
  margin-top: 10px;
  font-weight: 800;
}

@keyframes cubeFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
